* {
    margin: 0;
    padding: 0;
    user-select: none;
    outline: none;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-image: url(https://i.imgur.com/jlhANlM.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    z-index: -1000;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.taskbar > .icons > div > img {
    width: 24px;
    height: 24px;
}

.taskbar {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    background-color: #04121D;
    display: grid;
    grid-template-columns: 40px 345px auto;
    grid-template-rows: 40px;
    z-index: 10000;
}

.icons {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px;
    grid-column-gap: 9px;
}

.icons > div:hover {
    background-color: #1E303F;
}

.win {
    height: 100%;
    width: 40px;
}

.win:hover {
    background: #1E303F;
}

.win > img {
    display: block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search {
    border: 1px solid white;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    position: relative;
    background: #F6F6F6;
    border: 2px solid #C2C2C2;
}

.search > img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translate(0, -50%);
}

.search > input {
    width: 290px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0, -50%);
    color: #262626;
    border: none;
    font-size: 14px;
    background: none;
}

.search > input::placeholder {
    color: #262626;
}

.task {
    width: 40px;
    height: 40px;
    position: relative;
}

.task > img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.taskview > img {
    width: 16px!important;
    height: 15px!important;
}

.settings > img {
    filter: invert();
}

.taskbartime {
    height: 100%;
    width: 71px;
    color: white;
    font-weight: lighter;
    position: absolute;
    right: 14px;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
}

.showdesk {
    height: 100%;
    width: 4px;
    border-left: solid 1px #777F8E;
    position: absolute;
    right: 0px;
}

.showdesk:hover {
    background-color: #1E303F;
}

.startmenu {
    width: 370px;
    height: 0px;
    /*height: 526px;*/
    opacity: 0;
    background-image: linear-gradient(to bottom right, #262626D8, #121212D8);
    position: absolute;
    bottom: 40px;
    z-index: 990;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    display: inline;
    backdrop-filter: blur(10px);
}

.startmenu > .control {
    height: 100%;
    width: 50px;
    background: #1c1c1eA0;
    float: left;
}

.startmenu > .app {
    height: 100%;
    width: 85.1%;
    margin-top: 5px;
    margin-left: 55px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 4px;
    transition: all 0.4s ease-in-out;
}

.startmenu > .app > img:hover {
    outline: 2px solid white;
    cursor: pointer;
}


.window {
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 350px);
    height: 600px;
    width: 700px;
    background-image: linear-gradient(to bottom right, #2f2f2f, #1a1a1a);
    resize: both;
    overflow: none;
    z-index: 500;
    min-width: 370px;
    min-height: 250px;
    display: none;
    overflow: hidden;
    border: solid 1px #1C1C1C;
    filter: drop-shadow(0px 0px 7px #00000070);
}

.window > .header {
    height: 30px;
    width: 100%;
    background: black;
    color: white;
}

.window > .header > span {
    position: relative;
    top: 8%;
    left: 9px;
    font-size: 13px;
    font-weight: lighter;
}

.window > .header > img {
    position: relative;
    top: 42.5%;
    left: 8px;
    transform: translate(0, -50%);
    width: 16px;
    height: 16px;
}

.window > .header > .trafficlights > button {
    border: none;
    height: 30px;
    width: 45px;
    right: 0px;
    float: right;
    color: white;
    background: black;
    position: relative;
    transition: all 0.15s ease-in-out;
}

.window > .header > .trafficlights > button > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.window > .header > .trafficlights > button:hover {
    background-color: #ec1424;
}

.window > .header > .trafficlights {
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
}

.window > .cont {
    height: 100%;
    width: 100%;
}


#notepad > .cont {
    background: white;
}

#notepad > .cont > textarea {
    height: calc(100% - 42px);
    width: calc(100% - 8px);
    resize: none;
    padding: 4px;
    overflow: scroll;
    font-size: 17px;
    border: none;
}

#notepad > .cont > .notepadmenu {
    height: 18px;
    width: calc(100% - 22px);
    border-bottom: solid 2px #F0F0F0;
    display: grid;
    grid-template-columns: 32px 34px 52px 39px 39px;
}

#notepad > .cont > .notepadmenu > button {
    height: 19px;
    border: none;
    background: none;
}

#notepad > .cont > .notepadmenu > button:hover {
    border: solid 1px #CCE8FF;
    background: #E5F3FF;
}

#chrome > .cont > .chromebar {
    background: #2e2e2e;
    height: 30px;
}
